<div = "auth-title">
  <h1><%= user.firstName %>'s Dashboard</h1>
</div>

<a href="/phones/my-phones"><button>View my phones</button></a>
<a href="/dashboard/profile/<%= user._id %>/edit"><button>Edit Profile</button></a>
