#auth-title {
  text-align: center;
  margin: 30px auto;
  width: 50%;
}

#error {
  width: 50%;
  margin: auto;
  background-color: red;
  color: white;
  padding: 20px;
}


#form {
  margin: 30px auto;
  width: 50%;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #62B331;
  color: #fff;
  transition: .3s ease background;
}

.search-button {
  padding-left: 0px;
}

.view-all-button {
  padding-right: 0px;
}

.add-new-button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  margin: 0 auto;
  float: left;
  width: 50%;
}

.add-new-button:hover {
  background: #62B331;
  color: #fff;
  transition: .3s ease background;
}
