<div id="action-title">
  <h1>Add a New Phone</h1>
</div>

<form id="form" action="/phones" method="post" enctype="multipart/form-data">
  <label for="brand">Brand</label><br>
  <input type="text" name="brand"
    placeholder="Apple">
  <br><br>

  <label for="model">Model</label><br>
  <input type="text" name="model"
    placeholder="iPhone 6">
  <br><br>

  <label for="condition">Condition (New, Mint, or Used)</label><br>
  <input type="text" name="condition"
    placeholder="Mint">
  <br><br>

  <label for="color">Color</label><br>
  <input type="text" name="color"
    placeholder="Rose Gold">
  <br><br>

  <label for="memory">Memory (in GB)</label><br>
  <input type="text" name="memory"
    placeholder="16">
  <br><br>

  <label for="price">Price</label><br>
  <input type="text" name="price"
    placeholder="$100">
  <br><br>

  <label for="provider">Provider</label><br>
  <input type="text" name="provider"
    placeholder="T-Mobile">
  <br><br>

  <label for="unlocked">Unlocked</label><br>
  <input type="text" name="unlocked"
    placeholder="yes or no">
  <br><br>

  <label for="additionalDetails">Additional Details</label><br>
  <input type="text" name="additionalDetails"
    placeholder="Describe any notable damage/wear (dents/scatches/bends)">
  <br><br>

  <label for="picture-input">Images (browse for files on local computer)</label><br>
  <input type="file" name="picture"
  <br><br>

  <button>Add Phone</button>
</form>
