<div id="action-title">
  <h1>Search</h1>
</div>

<form id="form" action="/phones/search" method="post">
  <input type="text" name="searchTerm"
    placeholder="Search by Brand, Model, etc.">
  <br><br>

  <button>Search</button>
</form>
